{
    "MyFunction": {
      "ENV": "local",
      "SERPER_API_KEY": "",
      "TAVILY_API_KEY": "",
      "DATABASE_URL": "",
      "REDIS_HOST": "",
      "REDIS_PORT": "",
      "REDIS_DB": "",
      "AWS_S3_BUCKET": "",
      "AWS_ACCESS_KEY_ID": "",
      "AWS_SECRET_ACCESS_KEY": "",
      "AWS_REGION": "",
      "AWS_BEDROCK_MODEL_ID": ""
    }
  }
  